<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
</head>


<body>
    <% include Templates/header.ejs %>

    <select id="online_users"> </select>

       <div id="chat">
        <div id="window">
            <div id="output" style="border:solid #23282e 5px; max-width:750px; max-height:750px">
            </div>
        </div>
       </div>
       Message: <input type="text" id="message"/> <br>
       Send : <input type="submit" id="btn" value="send"/>



<script>

var socket=io.connect("http://localhost:3000");
socket.emit('user',{user:"<%=user.id%>"})
var output = document.getElementById('output');
var message = document.getElementById('message');
var btn = document.getElementById('btn');
var online_users = document.getElementById('online_users');



socket.on('onlineusers',function(users){
    console.log(users)
users=JSON.parse(users)
var my_html='';
Object.keys(users).forEach(function(id){
    console.log('hello')
    if(id != "<%=user.id%>")
           my_html+='<option  value="'+id+'">'+ ' ' + users[id].user_name+' </option>';
})

   online_users.innerHTML=my_html
})


btn.addEventListener('click',function(){
    if(typeof(room) != 'undefined'){
        socket.emit('room',{
            room: room,
            message: message.value,
            sender: "<%=user.name%>"
        })
    }
    else{
    socket.emit('chat',{
        message: message.value,
        sender: "<%=user.name%>"
        })
    }
    message.value=''
    
})

online_users.addEventListener('click',function(){
    room = "<%=user.name%>"+online_users.textContent;
    socket.emit('request',{
        reciever_id: online_users.value,
        sender_id:"<%=user.id%>",
        room: room
    })

})

socket.on('dial',function(data){
    console.log('Dial from front end: '+data)
    if(confirm(data.sender+' wants to chat with you')){
        socket.emit('confirm',{data:data.room})
    }
})


socket.on('updatemessage',function(data){
    output.innerHTML +=  "</strong>" + data.sender + ':' + ' ' +"<span style='font-size:17px;font-family:monospace'>"+ data.message+"</span>" + "<br/><br/>"
                        

})

</script>
</body>

</html>