<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <% include Templates/header.ejs %>
    <h1><%= title %></h1>

    <p>Welcome to <%= title %></p>
<center><div class="alert alert-warning"> Hello</div></center>
</body>

</html>