<html>

<head>
    <title>
        <%=title%>
    </title>
</head>

<body>
    <% include Templates/header.ejs %>
        <h1 style="text-align: center">Modeso Web Chat</h1>

            <% if( typeof(loginError)!= "undefined" && loginError){%>
            <div style=" text-align:center" class="alert alert-danger">
                <strong >Invalid User Name or Password</strong></div>
            <%}%>

                <div class="container">
                    <div class="wrapper">
                        <form action="/users/login" method="post" name="Login_Form" class="form-signin">
                            <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
                            <hr class="colorgraph">
                            <br>
                            <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
                            <br>
                            <input type="password" class="form-control" name="Password" placeholder="Password" required="" />
                            <br>
                            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Login</button>
                        </form>
                    </div>
                </div>

          


</body>

</html>