<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>

    <body>
<% include Templates/header.ejs%>
            <div class="container">
                    <div class="row profile">
                        <div class="col-md-3">
                            <div class="profile-sidebar">                                
                                <!-- SIDEBAR USER TITLE -->
                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name">
                                        <strong> Name: <%=profile.name%></strong>
                                        <br>
                                        <strong>Email: <%=profile.email%></strong>
                                    </div>
                                </div>
                                <!-- END SIDEBAR BUTTONS -->
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                 <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>User Number</th>
                            <th> Email</th>
                            <th> Name</th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <%  allusers.forEach(function(user,k){ %>
                                <td>
                                    <%=k+1 %>
                                </td>
                                <td>
                                    <%=user.email%>
                                </td>
                                <td>
                                        <%=user.name%>
                                  
                                </td>
                                <% if (!profile.contacts.includes(user.id)) {%>
                                <td> <form action="/users/addcontanct/<%=user.id%>" method="post" name="Add contact">
                                     <input class="btn btn-success" type=submit value="Follow"/>
                                    </form>
                                    </td>
                                    <%}%>
                        </tr>
                        <% })%>
                    </tbody>
                </table>

                </div>
                <center>
                <strong>Powered by <a href="http://www.modeso.ch/" target="_blank">Modeso</a></strong>
                </center>
                <br>
                <br>
    </body>
</html>