<html>
    <head>
        <title>
<%=title%>
        </title>
    </head>

    <body>
        <% include Templates/header.ejs %>
        <h1 style="text-align: center">Modeso Web Chat</h1>


        <div class="container">
                <div class="wrapper">
                    <form action="/users/register" method="post" name="Login_Form" class="form-signin">
                        <h3 class="form-signin-heading">Register Now</h3>
                        <hr class="colorgraph">
                        <br>
                        <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
                        <br>
                        <input type="email" class="form-control" name="Email" placeholder="email" required="" />
                        <br>
                        <input type="password" class="form-control" name="Password" placeholder="Password" required="" />
                        <br>
                        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Submit</button>
                    </form>
                </div>
            </div>
    </body>
</html>