<link rel='stylesheet' href='/stylesheets/style.css' />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.modeso.ch/">
                <img alt="Brand" src="/images/images.png" width="60px">
            </a>
            <div class="navbar-nav">
                <span class="active" style="margin-right:10px">
                    <a href="/">
                        <button class="btn btn-primary">Home </button>
                    </a>
                </span>
                <% if ( typeof(loggedIn) != "undefined" && !loggedIn){ %>

                    <span class="nav-item active" style="margin-right:10px">
                        <a href="/users/login">
                            <button class="btn btn-success">Login
                                <i class="glyphicon glyphicon-off"></i>
                            </button>
                        </a>
                    </span>
                
                    <span class="nav-item active" style="margin-right:10px">
                        <a href="/users/register">
                            <button class="btn btn-success">Register </button>
                        </a>
                    </span>

                    <%} else {%>

                        <span class="nav-item active" style="margin-right:10px">
                            <a href="/users/chat">
                                <button class="btn btn-warning">Chat </button>
                            </a>
                        </span>

                        <span class="nav-item" style="margin-right:10px">
                            <a href="/users/logout">
                                <button class="btn btn-danger">LogOut
                                    <i class="glyphicon glyphicon-off"></i>
                                </button>
                            </a>
                        </span>
                        <% if ( typeof(user) != "undefined" && user) {%>

                            <span class="active" style="margin-right:10px">
                                <a href="/users/profile/<%=user.id%>">
                                    <button class="btn btn-primary">Profile</button>
                                </a>
                            </span>

                            <p class="navbar-text">Signed in as :
                                <strong>
                                    <%=user.name %>
                                </strong>
                            </p>
                            <%}%>
                                <%}%>
            </div>

        </div>
    </div>
</nav>